@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .experience,
    .premises2 {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .text h2 {
        font-size: 24pt;
    }

    .text {
        margin: 1rem;
    }

    .subscribe {
        margin: 2rem 1rem;
    }

    form {
        margin: 1rem auto;
        max-width: 90%;
    }

    .contact {
        margin: 1rem;
    }

    .contact textarea {
        width: 100%;
    }

    footer {
        padding: 1rem;
    }
}
