@media (max-width: 768px) {
    

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 1rem;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover {
        background-color: var(--primary-color);
    }

    nav ul.show {
        display: flex;
    }
    .hero{
        height: 100vh;
    }

    .hero picture img {
        width: 100%; 
    }


    .hero .text h2 {
        font-size: 23pt; 
        max-width: 100%; 
        white-space: nowrap; 
        overflow: hidden; 
        border-right: 0.15em solid orange; 
        animation: typing 3.5s steps(40, end), blink-caret 0.90s step-end infinite; 
    }

    .hero .text p {
        font-size: 8pt;
    }

    .text p {
        font-size: 1rem;
        max-width: 400px;
    }

    .experience {
        flex-direction: column; 
    }

    .card {
        margin-bottom: 1rem; 
    }

    .premises2 picture img {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}