:root {
    --primary-color: #0466c8;
    --secondary-color: #62b6cb;
    --accent-color: #fdc500;
    --footer-color: #212121;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--footer-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 10px 500px rgba(3, 3, 3, 0.997);
    z-index: 10; 
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 0.8rem;
    color: var(--accent-color);
    font-size: 20pt;
}
.peace{
    font-weight: 900;
    background: linear-gradient(to right, #f9e006, #fd750e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--accent-color);
}

footer {
    background-color: var(--footer-color);
    padding: 0.5rem;
    text-align: center;
    color: white;
}
.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0.5rem;
}
.hero picture {
    position: relative;
    display: block;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    filter: blur(1px); 
    height: 110vh; 

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
} 

.text h2 {
    font-size: 50pt;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret 0.90s step-end infinite;
 
}

@keyframes typing {
    from { width: 10%; }
    to { width: 80%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;   
}

 form button , .contact button {
    margin: 1.5rem 1rem;
    background-color: var(--footer-color);
    color: white;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    width: 8rem;

}
.text button{
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #e59a03;
    width: 7rem;
    padding: 0.7rem;
    cursor: pointer;
    margin: 3rem;
    background: linear-gradient(to right, #f9e006, #fd750e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text button:hover {
    transition: 1s;
    transform: translateY(-3px);
    color: white;
    background-color: #e59a03;
}

.purpose {
    text-align: center;
    margin: 6rem;
}

.purpose h2 {
    font-size: 24pt;
    background: linear-gradient(to right, #331717, #ffaa00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

strong{
    font-size: 15pt;
}
.experience {
    display: flex;
    justify-content: space-around;
    gap: 20px; 
}

.card {
    flex: 1; 
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.card img {
    width: 100%;
    border-radius: 10px; 
    
}

.card p {
    margin-top: 10px; 
}

.premises {
    text-align: center;
    background-color: var(--footer-color);
    padding: 2rem;
    
}


.premises h2 {
    font-size: 30pt;
    margin: 2rem 0;
    color: var(--accent-color);
}

.premises2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.premises2 p {
    background: linear-gradient(to right, #887e7e, #ffaa00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20pt;
}
.premises2 img{
    width: 50%;
}


.premises button:hover{
    background: linear-gradient(to right, #e1bc18, #b7841f);
    transform: translateY(-3px);
    transition: 1s;
    font-weight: 500;
}

.subscribe {
    margin: 3rem;
    text-align: center;
    
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.contact-methods {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 0.5rem;
}

form button:hover, .contact button:hover{
    background-color: var(--accent-color);
    color: var(--footer-color);
    transition: 0.6s;
}

input{
    padding: 0.4rem;
    border: none;
    border-bottom: 1px solid black;
    outline-color: var(--accent-color);
}

fieldset {
    text-align: center;
    padding: 3rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--footer-color);
}
legend{
    font-weight: 700;
    font-size: 20pt;
    background: linear-gradient(to right, #331717, #e59a03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-methods {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.contact {
    margin: 2rem;
    text-align: center;

}

.contact textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    outline-color: var(--accent-color);
}
#contact-form{
    display: flex;
    flex-direction: column;
}