:root {
    --primary-color: #0466c8;
    --secondary-color: #62b6cb;
    --accent-color: #fdc500;
    --footer-color: #333333;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

.content-list {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: var(--footer-color);
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
