
body{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: #495867;
    margin-bottom: 0;
    padding:   10px;
    margin-top: auto;
    
}
header{
    margin: 0px;

}
.navigation{
    background-color: #BDD5EA;
    margin: 0 auto;
    padding: 0.2em;
    margin: 0;
    box-shadow: 0px 3px 5px rgba(47, 87, 87, 0.5); 

    
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a{
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    transition: color 0.3s, border 0.3s; 

}

.navigation a:hover{
    color: black;
    border-radius: 5px;
    font-size: 12pt;
    transition: 0.5s;
    font-weight: bolder;
    background-color: #FE5F55;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); /* Sombra en la parte inferior */


}
/*Minimo width */

@media (min-width: 640px){

nav ul{
    display: flex;

}
nav ul li{
    flex: 1 1 auto; /* Añadido: comportamiento flexible para los elementos li */
}
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
    justify-content: center;
    width: 60%;
    padding: 1rem;
    margin: 0 auto;
}
   
.card{
    margin: 0.3rem;
    border-radius: 5px;
    padding: 1rem;
    overflow: auto;
    border: 1px solid #F7F7FF; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: #F7F7FF;
    font-weight: 500;
}
.card h3{
    background-color: #495867;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

br {
    display: block; 
    content: "";
    border-top: 2px solid black; 
    margin-top: 3.5rem;
}
.country .about{ 
    overflow: auto;
}
.country img{
    width: 160px;
    float: left;
    margin-right: 10px;
}

.about img{
    width: 160px;
    border-radius: 2px;
    float: right;
    margin-left: 10px;
}
.card ul li a {
    color: #201E1F;
    text-decoration: none;
}

footer{
    background-color: #495867;
    color: white;
    padding: 1rem;
    text-align: center;
}