body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: white;
}
:root{
    --primary-color: #0B3C49;
    --secondary-color: black;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, textarea {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
}

.rating {
    margin-top: 10px;
}

.rating p {
    margin: 0;
}

.rating label {
    margin-right: 10px;
}

fieldset {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 2rem;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    font-weight: 600;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: 2rem;
}
