/* Temples.css */

/* Styles for smaller screens */

@media screen and (max-width: 768px) { 
    body {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
.nav-toggle {
    display: flow-root;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 12%;
    margin: 0.3rem;
}
nav{
    position: relative;
}

nav ul {
    display: none; 
}
h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 0px;
}
a {
    color: white;
    text-decoration: none;        
}
nav ul li {
    list-style-type: none;
}
h2 {
    text-align: center;
    padding: 1rem;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    color: white;
}

nav ul.active {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav ul li {
    margin-bottom: 10px;
    padding: 7px;
}
nav ul li:hover{
    background-color: white;    
    transition: 0.5s;
    border-radius: 5px;
}
a:hover{
    color: black;
}
figure img:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-2px) scale(1.01);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
}
